@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    padding: 0px;
    margin: 0px;
}

.main_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    overflow: hidden;
    gap: 50px;
    box-sizing: border-box;
    background: linear-gradient(106deg, #F4A764 -2.93%, #FFDEC2 72.14%);
    transition: 200ms ease-in-out;
}

header {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

header .company_logo {
    width: 123px;
    box-sizing: border-box;
    & img {
        width: 90%;
        object-fit: contain;
    }
}

header .nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav a {
    color: rgb(28, 20, 21);
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
}

header .nav .sign_up_btn {
    border-radius: 50px;
    background: rgb(28, 20, 21);
    color: white;
    display: inline-flex;
    padding: 14px 38px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contents {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

.contents .info_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.contents .info_text .info_headline .info_h1 {
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 137%;
    letter-spacing: -0.76px;
    margin: 0px;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

.contents .info_text .info_headline .info_h2 {
    color: rgb(255, 255, 255);
    font-family: "Sofia Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 115.5%;
    letter-spacing: -0.52px;
    margin: 0px;
}

.contents .info_text .info_headline .info_h2_odd {
    color: rgb(28, 20, 21);
}

.contents .info_text .info_paragraph 
{
    color: rgba(28, 20, 21, 0.80);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 190%; /* 45.6px */
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -1px;
}
.contents .info_text .info_price 
{
    color: #FFF;
    font-family: Poppins;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 137%; /* 95.9px */
    letter-spacing: -0.7px;
    margin: 0px;
}
.contents .social_media_icons 
{
  display:inline-flex;
  gap:20px;
}
.contents .social_media_icons a 
{
  width:50px;
  height:50px;
  border-radius:50px;
  border:1px solid white;
  display:inline-flex;
  align-items:center;
  justify-content:center;
}

.contents .slider_box {
    width: 40%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splide__list 
{
    width: 400px;
    height: 500px;
   
}
.splide__slide 
{
    padding: 20px 00px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splide__list img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.splide__list .shadow 
{
    position: absolute;
    bottom: 0;
    height: 68px;
    width: 236px;
}

button.splide__arrow.splide__arrow--next , button.splide__arrow.splide__arrow--prev {
    background: transparent;
    border: 1px solid white;
    height: 75px;
    width: 75px;
    font-size: 20px;
    margin-left: -50px;
    margin-right: -50px;
}



.splide__arrow svg {
    fill: white;
    height: 1.2em;
    width: 1.2em;
}


@media (max-width:700px)
{

    header .nav 
{
    display: none;
}
  .contents 
  {
    flex-direction:column;
    height:fit-content;
  }
  .contents .info_text 
  {
    text-align:center;
    align-items:center;
    width:100%;
    gap:20px;
  }
  .contents .splide
  {
    width:100%;
  }
}